#div-el{
    display: flex;
    justify-content: center;
}
img{
    min-width: 100px;
    min-height: 100px;
    width: 100%;
    height: 200px;
}
body{
    font-family: 'Aldrich', sans-serif;
}
div{
    font-size: larger;
}
#pc-el{
    border: none;
    /* visibility: hidden; */
}